<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offres Spéciales</title>
    <link rel="stylesheet" href="../front office/css/estitique.css">
</head>
<body>
    <header>
        <h1>Nos Offres Spéciales</h1>
        <p>Profitez de nos meilleures offres pour sublimer votre vie, que ce soit pour la beauté, l'alimentation ou les formations !</p>
    </header>

    <main>
        <!-- Offres Esthétiques -->
        <section class="offer-category">
            <h2>Offres Esthétiques</h2>
            <div class="offer">
                <div class="offer-image-container">
                    <img class="offer-image" src="../front office/img/coffret.png" alt="Coffret Cadeau Fête des Mères">
                </div>
                <div class="offer-details">
                    <h3>Coffrets Cadeaux pour la Fête des Mères</h3>
                    <p>Offrez un coffret de soins pour chérir vos proches !</p>
                </div>
            </div>

            <div class="offer">
                <div class="offer-image-container">
                    <img class="offer-image" src="../front office/img/huile.png" alt="huile cheveux">
                </div>
                <div class="offer-details">
                    <h3>Cadeau pour achat > 200DT</h3>
                    <p>Recevez une huile pour cheveux pour tout achat supérieur à 200DT.</p>
                </div>
            </div>

            <div class="offer">
                <div class="offer-image-container">
                    <img class="offer-image" src="../front office/img/point.png" alt="point Cadeaux">
                </div>
                <div class="offer-details">
                    <h3>Points Cadeaux</h3>
                    <p>Accumulez des points pour chaque achat et bénéficiez de récompenses exclusives !</p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Toutes les offres sont soumises à des conditions. Vérifiez les détails sur notre site.</p>
    </footer>
</body>
</html>
