<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@700&family=Roboto:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../front office/css/evennementt.css">

    <title>Événement Offres Spéciales</title>
    
</head>

<body>
    <div class="container">
        <!-- Offre Nutrition -->
        <div class="offer">
            <div class="offer-image-container">
                <a href="nutrutionoff.html">
                    <img class="offer-image" src="../front office/img/nutrution.png" alt="Nutrution">
                </a>
                <div class="slogan">"Énergie pour une vie plus saine !"</div>
            </div>
            <div class="offer-title">Offre Nutrition</div>
            <p>Découvrez nos produits nutritifs à des prix imbattables.</p>
        </div>

        <!-- Offre Esthétique -->
        <div class="offer">
            <div class="offer-image-container">
                <a href="esthetique .html">

                <img class="offer-image" src="../front office/img/cos.png" alt="Cosmétique">
            </a>
                <div class="slogan">"La beauté commence ici !"</div>
            </div>
            <div class="offer-title">Offre Esthétique</div>
            <p>Offrez-vous un soin de beauté haut de gamme.</p>
        </div>

        <!-- Offre Formation -->
        <div class="offer">
            <div class="offer-image-container">
                <a href="formation.html">
                    <img class="offer-image" src="../front office/img/agricol.png.jpg" alt="Formation">

                </a>
                <div class="slogan">"Investissez en vous pour un futur brillant !"</div>
            </div>
            <div class="offer-title">Offre Formation</div>
            <p>Rejoignez notre programme de formation exclusif et développez vos compétences professionnelles.</p>
        </div>
    </div>
</body>

</html>
