/* Style global */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Barre de navigation */
header {
  background-color: #fff;
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav {
  flex-grow: 1;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #009688;
}

.top-bar {
  background-color: #e0f7fa;
  color: #00796b;
  text-align: center;
  padding: 5px 0;
  font-size: 14px;
}

/* Contenu principal : Produits */
h1 {
  text-align: center;
  margin: 40px 0;
}

.product {
  text-align: center;
  margin-bottom: 40px;
}

/* Centrer les images et les mettre à la même taille */
.product-image {
  max-width: 300px; /* Limite la largeur à 300px */
  height: 300px; /* Définit une hauteur fixe */
  object-fit: cover; /* Maintient les proportions de l'image */
  margin-bottom: 20px; /* Espacement entre l'image et le texte */
}

/* Pour aligner correctement les produits au centre */
.product {
  display: inline-block;
  margin: 20px;
}

/* Centrer l'ensemble des produits */
.product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Style des boutons */
button {
  background-color: #009688;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #00796b;
}
